@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-gray-400;
}

.button {
  @apply py-2 px-4;
  @apply shadow;
  @apply text-xl;

  &.success {
    @apply bg-green-600 text-green-200;
  }

  &[disabled] {
    @apply bg-gray-600 text-gray-200;
  }
}

@md {
  .button {
    @apply px-8;
    @apply text-3xl;
  }
}
