@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-gray-500;
  @apply text-sm;
}

@screen sm{
    @apply text-md;
}

@screen md{
    @apply text-lg;
}

@screen lg{
    @apply text-xl;
}
